@font-face {
  font-family: Grimp;
  src: url("../src/assets/fonts/fonnts.com-grimpt-brushalt.otf") format("opentype");
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --font-grimp: Grimp, "sans-serif";

  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: #240b0b
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}


.page {
  display: grid;
  height: 100%;
  width: 100%;
  padding-top: 50px;
  z-index: 51;
  grid-template-columns: repeat(auto-fit, 250px);
  row-gap: 15px;
  column-gap: 15px;
  justify-content: center;
}

.bg{
  background-image: url(../public/background.png);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.bg-cover .relative{
  object-fit: contain;
}

.top-left {
  position: absolute;
  left: 0px;
  height: 90%;
  top: 0px;
}

.bottom-right {
  position: absolute;
  right: 0px;
  height: 50%;
  bottom: -15px;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

.intro-label {
  position: absolute;
  top:30vh;
  left: 17.5vw;
  height: 25vh;
  width: 65vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-title {
  height: 25vh;
    width: 65vw; 
}

.intro-bottom-left {
    position: absolute;
    left: 0px;
    bottom: -5vh;
    width: 45vw;
    height: 55vh;
}

.intro-top-right {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45vh;
}

.intro-top-left {
    position: absolute;
    top: 10px;
    left: 3vw;
    height: 40vh;
}

.intro-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 3vw;
    height: 40vh;
    width: 30vw;
    object-fit: cover;
}

.sparkle {
  height :12vh;
  position: absolute;
}

.intro-sparkle-left {
  left:30vw;
}

.intro-sparkle-right {
  top: 55vh;
    right: 40vw;
}

.intro-loopy{
      height: 30vh;
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 60vw;
}


.history-label {
    position: absolute;
    top: 5vh;
    left: 10vw;
    height: 20vh;
    width: 40vw;
    z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-bottom-left {
    position: absolute;
    left: 0px;
    bottom: -2vh;
    width: 35vw;
    height: 45vh;
    transform: rotate(358deg);
}

.history-top-left {
    position: absolute;
    top: 15vh;
    left: 0px;
    width: 30vw;
    height: 40vh;
    transform: rotate(352deg);
}

.history-top-right {
      position: absolute;
    right: 5vw;
    height: 45vh;
}

.history-center {
    position: absolute;
    top: 25vh;
    left: 30vw;
    width: 40vw;
    height: 50vh;
}

.sparkle {
  height :12vh;
  position: absolute;
  z-index: 3;
}

.history-sparkle-left {
      left: 0vw;
    top: 40vh;
}

.history-sparkle-right {
  top: 25vh;
    right: 30vw;
}

.history-loopy{
     height: 30vh;
    z-index: 1;
    position: absolute;
    bottom: -5vh;
    left: 20vw;
}

.history-flower {
    z-index: 15;
    left: 25vw;
    position: absolute;
    height: 20vh;
    top: 25vh;
}

.history-star {
      position: absolute;
    bottom: 10vh;
    height: 30vh;
    right: 30vw;
    z-index: 15;
}

.perf-title {
   height: 25vh;
    width: 65vw; 
}


.perf-label {
    position: absolute;
    bottom: 5vh;
    right: 5vw;
    height: 25vh;
    width: 65vw;
    z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perf-bottom-right {
position: absolute;
    right: 15vw;
    width: 30vw;
    height: 40vh;
    bottom: 25vh;
}

.perf-top-right {
    position: absolute;
    top: -2vh;
    right: 0vh;
    width: 30vw;
    height: 40vh;
    transform: rotate(352deg);
}

.perf-top-left {
    position: absolute;
    left: 10vw;
    height: 45vh;
    top: -2vh;
    transform: rotate(357deg);
}

.perf-bottom-left {
       position: absolute;
    left: 7vw;
    height: 50vh;
    bottom: 10vh;
}

.sparkle {
  height :12vh;
  position: absolute;
}

.perf-sparkle-left {
left: 45vw;
    top: 5vh;
}

.perf-sparkle-right {
  bottom: 30vh;
    right: 12vw;
}

.perf-loopy{
    height: 40vh;
    position: absolute;
    bottom: -10vh;
    left: 20vw;
    transform: rotate(45deg);
    z-index: 3;
}

.perf-lotus {
    right: 36vw;
    position: absolute;
    height: 20vh;
    top: 25vh;
}

.perf-star {
    position: absolute;
    bottom: 30vh;
    height: 30vh;
    left: 25vw;
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}

@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
  height: 350px;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow:
    0 1px 1px rgba(0,0,0,0.1),
    0 2px 2px rgba(0,0,0,0.1),
    0 4px 4px rgba(0,0,0,0.1),
    0 8px 8px rgba(0,0,0,0.1),
    0 16px 16px rgba(0,0,0,0.1);
}

@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}

.artist {
  position: relative;
}

.artist .lotus {
position: absolute;
    bottom: 0vw;
    right: 25vw;
    width: 25vw;
    height: auto;
}

.artist .master-name {
        width: 48vw;
    height: 65vh;
    z-index: 31;
    position: absolute;
    display: flex;
    justify-content: center;
}

.artist .pos {
    left: 25vw;
    top:17vh;
}

.artist .artist-frame {
    position: fixed;
    right: 3vw;
    top: 15vh;
    width: 35vw;

}

.artist .star {
    position: fixed;
    left: 0vw;
    width: 15vw;
    top: 30vh;
    z-index: 30;
}

.artist .leaf {
    position: fixed;
    right: 0vw;
    top: 0;
    height: 25vh;
     z-index: 30;
}

.artist .frame2 {
      position: fixed;
    left: 0;
    top: 0vh;
    width: 45vw;
}

.artist .frame3 {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 45vw;
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}

.present-day .lotus {
       position: fixed;
    bottom: 0;
    right: 30vh;
    width: 20vh;
    height: auto;
}

.present-day .label {
  position: fixed;
    top: 10vh;
    right: 0;
    width: 40vw;
    
  z-index: 40;
}


.present-day .frame1 {
    position: fixed;
    bottom: 0vh;
    right: 8vw;
    width: 30vw;

}

.present-day .frame3 {
  position: fixed;
    left: 15vw;
    width: 40vw;
    bottom: -3vh;
    rotate: -12deg;
}

.present-day .frame2 {
   position: fixed;
    left: -4vw;
    width: 40vw;
    top: 2vh;
}

.present-day .arrow {
  position: fixed;
    right: 15vw;
    top: 5vh;
    width: 30vw;
     z-index: 30;
}

.present-day .star {
    position: fixed;
    left: 45vw;
    width: 15vw;
    top: 30vh;
    z-index: 30;
}

.present-day .loopy {
      position: fixed;
    top: 0vh;
    width: 20vw;
    left: 3vw;
     z-index: 30;
}



.present-day .leaf {
position: fixed;
    bottom: 5vh;
    left: -5vw;
    rotate: -90deg;
    height: 30vh;
     z-index: 30;
}

.nav-arrow-right {
  position: absolute;
    right: 15px;
    bottom: 15px;
    width: 6vw;
    z-index: 30;
}

.nav-arrow-left {
  position: absolute;
    left: 15px;
    bottom: 15px;
    width: 6vw;
    z-index: 30;
}


.card::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(0, 0%, 0%, 0.009) 11.7%,
    hsla(0, 0%, 0%, 0.034) 22.1%,
    hsla(0, 0%, 0%, 0.072) 31.2%,
    hsla(0, 0%, 0%, 0.123) 39.4%,
    hsla(0, 0%, 0%, 0.182) 46.6%,
    hsla(0, 0%, 0%, 0.249) 53.1%,
    hsla(0, 0%, 0%, 0.320) 58.9%,
    hsla(0, 0%, 0%, 0.394) 64.3%,
    hsla(0, 0%, 0%, 0.468) 69.3%,
    hsla(0, 0%, 0%, 0.540) 74.1%,
    hsla(0, 0%, 0%, 0.607) 78.8%,
    hsla(0, 0%, 0%, 0.668) 83.6%,
    hsla(0, 0%, 0%, 0.721) 88.7%,
    hsla(0, 0%, 0%, 0.762) 94.1%,
    hsla(0, 0%, 0%, 0.790) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}

.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2;
  color: white;

}

.copy {
  font-family: var(--font-serif);
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 0.8rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}

.btn:hover {
  background-color: #0d0d0d; /* approximate lighten(black, 5%) */
}

.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}


.font-grimp {
  font-family: var(--font-grimp);
  font-size: 8vw;
  margin: 0px;
  z-index: 40;
}

.font-grimp-tilt {
  font-family: var(--font-grimp);
  font-size: 10vw;
  padding-top: 6vw;
  margin: 0px;
  transform: rotate(25deg);
  text-align: right;
}

.master-label {
        font-family: var(--font-grimp);
    font-size: 10vw;
    /* padding-top: 30vh; */
    margin: 0px;
    transform: rotate(-25deg);
    /* text-align: right; */
    text-align: center;
    line-height: 0.8;
    align-self: center;
}


@media (hover: hover) and (min-width: 600px) {
  .card::after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }

  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition:
      transform var(--d) var(--e),
      opacity var(--d) var(--e);
  }

  .card:hover,
  .card:focus-within {
    align-items: center;
  }

  .card:hover::before,
  .card:focus-within::before {
    transform: translateY(-4%);
  }

  .card:hover::after,
  .card:focus-within::after {
    transform: translateY(-50%);
  }

  .card:hover .content,
  .card:focus-within .content {
    transform: translateY(0);
  }

  .card:hover .content > *:not(.title),
  .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within::before,
  .card:focus-within::after,
  .card:focus-within .content,
  .card:focus-within .content > *:not(.title) {
    transition-duration: 3s;
  }
}